@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
  --fuente-Young: "Young Serif", serif;
  --fuente-Outfit: "Outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--Stone-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 160vh;
}

.container {
  background: var(--White);
  padding: 30px;
  max-width: 580px;
  border-radius: 15px;
}

.container img {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.container h1 {
  font-size: 3vh;
  color: var(--Stone-900);
  margin-bottom: 11px;
  font-family: var(--fuente-Young);
}

.container p {
  font-family: var(--fuente-Outfit);
  color: var(--Stone-600);
  font-size: 13px;
  margin-bottom: 29px;
}

.preparacion {
  background: var(--Rose-50);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.preparacion h3 {
  color: var(--Rose-800);
  font-family: var(--fuente-Outfit);
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.preparacion ul li {
  font-size: 13px;
  color: var(--Stone-600);
  font-family: var(--fuente-Outfit);
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 0 0 0 9px;
}
.preparacion ul li::marker {
  color: var(--Rose-800);
}

.Ingredientes,
.intrucciones {
  margin-bottom: 20px;
}

.Ingredientes h2,
.intrucciones h2,
.nutricion h2 {
  font-size: 1.2 rem;
  color: var(--Brown-800);
  margin-bottom: 13px;
  font-weight: 400;
  font-family: var(--fuente-Young);
}

.Ingredientes ul li,
.intrucciones ol li {
  font-size: 13px;
  color: var(--Stone-600);
  font-family: var(--fuente-Outfit);
  margin-bottom: 8px;
  margin-left: 20px;
  padding: 0 0 0 9px;
}

.Ingredientes ul li::marker,
.intrucciones ol li::marker {
  color: var(--Brown-800);
}
hr {
  color: #fcfcfc;
  height: 1px;
  margin-bottom: 15px;
}

.nutricion p {
  font-family: var(--fuente-Outfit);
  color: var(--Stone-600);
  font-size: 13px;
  margin-bottom: 20px;
}

.tabla {
  width: 100%;
  margin: 0 0 1em 0;
  border-collapse: collapse;
  color: var(--Stone-600);
}

.tabla tr {
  border-bottom: 1px solid #dbdbdb;
  width: 53%;
  font-size: 13px;
  font-family: var(--fuente-Outfit);
}

.tabla tr td {
  padding: 0.5em;
}
.tabla tr td:nth-of-type(2) {
  color: var(--Brown-800);
  font-weight: bold;
}

.tabla tr:last-child {
  border-bottom: none;
}

/** mobile*/

@media (max-width: 375px) {
  body {
    min-height: 0vh;
  }

  .container {
    border-radius: 0px;
    padding: 40px 30px 10px 30px;
    margin-top: 140px;
    max-width: 500px;
  }

  .container img {
    position: absolute;
    top: 0px;
    left: -3px;
    width: 106%;
    height: 11%;
    object-fit: cover;
    border-radius: 0;
    margin-bottom: 150px;
  }

  .container h1 {
    font-size: 36px;
    line-height: 39px;
  }
  .container p {
    font-size: 16px;
  }

  .preparacion {
    width: 98%;
  }

  .nutricion p {
    font-size: 17px;
  }
}
