@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


:root {
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
  --fuente-Young: "Young Serif", serif;
  --fuente-Outfit:"Outfit", sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--Stone-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.container{
  background:var(--White);
  padding: 30px;
  max-width: 580px;

}

.container img{
  border-radius:10px;
  width: 100%;
   margin-bottom: 20px;
}

.container h1{
  font-size: 3vh;
  color: var(--Stone-900);
  margin-bottom: 11px;
}

.container p{
  font-family: var(--fuente-Outfit);
  color: var(--Stone-600);
  font-size: 13px;
  margin-bottom: 29px;
}


/** prepaparacion*/

.preparacion{
  background:var(--Rose-50);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 24px;
}

.preparacion h3{
  color: var(--Rose-800);
  font-family: var(--fuente-Outfit);
  font-weight:bold;
  font-size: 14px;
  margin-bottom: 10px;
  
}

.preparacion ul li{
  font-size: 13px;
  color: var(--Stone-600);
  font-family: var(--fuente-Outfit);
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 0 0 0 9px;
}

/** ingredientes*/
